/* 基本样式重置，可选 */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* 基础样式 */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background: url(/p/dragon-scales.png);
  background-size: contain;
  background-attachment: fixed;
  color: #333;
}

a {
  color: white;
}

.languages {
  width: auto;
  display: flex;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
}

.languages>div {
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  transition: 1s all;
}

.languages>div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.languages>div:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #fff; */
}

.title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  overflow: hidden;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.box .tips {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 100%;
}

.panels {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
  margin-bottom: 15px;
}

.panels>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 15px;
}

div.box-title {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 5px #ffffff;
  margin-bottom: 10px;
}

span.box-title {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 0 5px #ffffff;
}

#players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#players>div {
  padding: 15px;
  border: rgba(255, 255, 255, 0.1) 1px solid;
  border-radius: 5px;
  padding-bottom: 12px;
}

#players .amount {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

#players .name {
  text-align: right;
  font-size: 12px;
  line-height: 12px;
}

.me {
  box-shadow: 0 0 5px #ffffff;
}

.ani-box {
  width: 200px;
  height: 200px;
}



.header {
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {
  position: relative;
  width: 100px;
  height: 100px;
  background: url(/p/LOGO.png);
  background-size: 100% 100%;
}

.logo::before {
  content: '';
  position: absolute;
  top: 5%;
  /* 调整伪元素的位置以确保在圆形内部 */
  left: 5%;
  width: 90%;
  /* 增加大小以确保完全覆盖原元素 */
  height: 90%;
  background: rgba(255, 255, 255, 0.7);
  /* 半透明白色背景 */
  border-radius: 50%;
  z-index: -1;
  /* 将伪元素放在原元素的后面 */
  filter: blur(10px);
  /* 模糊效果 */
}

header {
  position: relative;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 2px #ffffff;
  text-align: center;
  margin: 20px 0;
}

.logo-text {
  position: relative;
  top: 10px;
  font-size: 60px;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px #ffffff;
}

input,
textarea {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 141, 217, 0.81)
}

.eth {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.eth::after {
  content: "ETH";
  position: absolute;
  right: 15px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.button {
  padding: 15px;
  border: 2px solid rgba(255, 141, 217, 0.81);
  box-shadow: 0 0 0px #ffffff;
  text-shadow: 0 0 1px #ffffffc8;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.5s;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  box-shadow: 0 0 5px #ffffff;
  text-shadow: 0 0 1px #ffffffc8;
  background-color: rgba(255, 255, 255, 0.1);
}

.button.disabled {
  cursor: not-allowed;
  box-shadow: 0 0 0px #ffffff;
  background-color: inherit;
}

.button.disabled:hover {
  box-shadow: 0 0 0px #ffffff;
  background-color: inherit;
}


.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.footer {
  text-align: center;
  color: white;
}

.footer>a {
  display: inline-block;
}

.footer>a>img {
  display: block;
  width: 32px;
  height: 32px;
}

/* 媒体查询框架 */
/* 在这里添加不同屏幕尺寸的样式 */

/* 小屏幕设备 */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .logo-text {
    font-size: 30px;
    top: 2px;
  }

  .panels {
    flex-direction: column;
  }
}

/* 中等屏幕设备 */
@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding: 20px;
  }
}

/* 大屏幕设备 */
@media (min-width: 1200px) {
  .container {
    padding: 30px;
  }
}